<div class="information"></div>
<div>
    <h3 class="information-header">Southeast Nebraska Youth Basketball League</h3>
    <div class="information">The Southeast Nebraska Youth Basketball program is a basketball league of local elementary schools that focuses on recreation and player development. After a very successful inaugral season Bennet has been extended an invitation to continue with the league. Games are held on Saturdays and Sundays, in the months of January and February. There are home and away games in the league. Coaches will begin practices no later then December and a practice schedule will be provided to you by the coach of your child’s team. Practice times are determined by the coach and gym availability but generally 2 practices are held a week for most teams.</div>
</div>

<div>
    <h3 class="information-header">Registration</h3>
    <div class="information">Registration cost is $25 per individual. Please return registrations to your child’s teacher or Laura in the Elementary Office. Players will not be able to participate in practices and/or camps until registration is submitted and fees are paid.</div>
</div>

<div>
    <h3 class="information-header">Uniforms</h3>
    <div class="information">According to league rules each player must purchase a reversible jersey. The cost of the reversible is $22 regardless of size. It is recommended that your child order a size larger than they normally wear so they can use it for multiple years. The uniforms will arrive prior to the first game and will be distributed at practice.</div>
</div>