<div class="information"></div>
<div>
    <h3 class="information-header">Consent Form</h3>
    <div class="information">I understand and recognize by filling out this form I am providing consent for my child to participate in the 2014-2015 Bennet Basketball Program. I do hereby resolve, release and agree to hold harmless Bennet Basketball Program, Bennet Elementary Public School, District OR1, coaches, managers, referees, and any volunteers from liability claims in case of accidents to my child while participating in this program. I do hereby give permission for coaches, sponsors, and assistant coaches to arrange for transportation for my child, as they deem necessary, for the purpose of medical treatment, injury, or illness while under their supervision.</div>
</div>
    


